html,
body,
#root {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px; /* 1rem */
}

ul {
    list-style: none outside none;
}

.App {
    height: 100%;
    display: flex;

    flex-direction: row;
}

.WindowList {
    border-right: solid 2px black;
    width: 12rem;
    flex-shrink: 0;
}

.InputBox {
    margin-top: auto;
    width: auto;
}

.ChatWindow {
    margin-bottom: auto;
}

.main {
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    flex-grow: 1;
}

.nick::before {
    content: '<';
}
.nick::after {
    content: '> ';
}
